footer
	div(id="contacto")
		span Consultas e información: cdeportivo_menores@usmp.pe
		span Villa deportiva. Teléfono: 362-0064. Anexo: 3239
	div(id="copyright")
		span Copyright 2016 Área de Diseño Gráfico y Multimedia - FIA, USMP.
		span Todos los derechos reservados