header
	div(id="container_header")
		a(id="container_logo" , href="{{ruta_base}}")
			img(id="logo" , src="{{ruta_base}}assets/img/logo_club.png", alt="" , class="img-responsive")
		div(id="container_social")
			a(href="https://www.facebook.com/deportivousmp.divisionesformativas?fref=ts" , target="_blank")
				i(class="fa fa-facebook-square fa-3x" , aria-hidden="true")
			a(href="https://www.youtube.com/user/CDUSMPMENORES" , target="_blank")
				i(class="fa fa-youtube-square fa-3x" , aria-hidden="true")
	nav(id="container_menu")
		ul
			li
				a(href="{{ruta_base}}")
					i(class="fa fa-home fa-2x" , aria-hidden="true")
			li
				a(href="#") CLUB DEPORTIVO USMP
			li
				a(href="#") PLANTEL GENERAL
			li
				a(href="{{ruta_base}}copa/copa.html") COPA FEDERACION
				
	//include slider