div(id="prefooter")
	a(href="http://www.umbro.com/es-pe/" , target="_blank")
		img(src="{{ruta_base}}assets/img/auspiciadores/1.jpg", alt="umbto")
		
	//a(href="#")
		img(src="{{ruta_base}}assets/img/auspiciadores/2.jpg", alt="")
	//a(href="#")
		img(src="{{ruta_base}}assets/img/auspiciadores/3.jpg", alt="")
	a(href="http://www.cosapidata.com.pe/" , target="_blank")
		img(src="{{ruta_base}}assets/img/auspiciadores/4.jpg", alt="")