@charset "UTF-8";
/* ===========================================
   CSS Reset
   =========================================== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0 none;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
  list-style: none;
}

/* ===========================================
   Mixins
   =========================================== */
/* ===========================================
   Imports
   =========================================== */
/* General imports
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Includes imports
   ––––––––––––––––––––––––––––––––––––––––––– */
header {
  width: 100%;
  position: relative;
  z-index: 200;
  display: flex;
  flex-direction: column;
}

header #container_header {
  width: 100%;
  padding: 3% 0px 3% 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header #container_header #container_logo {
  width: 20%;
  margin-left: 15%;
}

header #container_header #container_social {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header #container_header #container_social a {
  color: #FFF;
  margin: 0px 10px 0px 10px;
}

header #container_menu {
  width: 90%;
  margin-left: 5%;
  background-color: #082551;
}

header #container_menu ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header #container_menu ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header #container_menu ul li a {
  width: 100%;
  color: #FFF;
  height: 5rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header #container_menu ul li a:hover {
  background-color: #1585CF;
  transition: 1s;
}

#slider {
  width: 90%;
  margin-left: 5%;
  position: relative;
  z-index: 200;
}

#slider a {
  width: 100%;
}

#slider a img {
  width: 100%;
  position: relative;
  z-index: 200;
}

#slider a img .ticket {
  width: 350px;
  height: 60px;
  position: relative;
  z-index: 300;
  color: #FFF;
  background-color: rgba(0, 44, 165, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer span {
  color: #FFF;
}

footer #contacto {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer #copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prefooter {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#prefooter a {
  margin: 0px 50px 0px 50px;
  width: 12%;
}

#prefooter a img {
  width: 100%;
}

section {
  width: 90%;
  background-color: #DBD9D9;
  margin-left: 5%;
  position: relative;
  z-index: 300;
  display: flex;
  flex-direction: column;
  /*
	#container_links {
		width: 100%;
		@include flex (row , space-around , center);
		a {
			width: 28%;
			margin: 0% 2% 0% 2%;
			border-radius: 5px;
			.container_img {
				width: 100%;
				border-radius: 5px;
				img {
					width: 100%;
					border-radius: 5px;
				}
			}
		}
	}
	*/
}

section #main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section #main_content #partidos {
  background-color: #67A770;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section #main_content #partidos .container_partido {
  background-color: #294167;
  color: #FFFFFF;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section #main_content #partidos .container_partido .content_partido {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
}

section #main_content #partidos .container_partido .down_fecha {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section #main_content #partidos .container_partido span {
  margin: 0% 2% 0% 2%;
}

section #main_content .table-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
}

section #main_content .table-responsive .table {
  font-size: 1rem;
  color: #323F5B;
}

section #main_content .table-responsive .table tr th {
  background-color: #AA2C2C;
  color: #FFFFFF;
  font-weight: bold;
}

section #main_content .table-responsive .table tr td {
  color: #323F5B;
}

section #main_content #container_multimedia {
  background-color: #93C756;
  margin-top: 2%;
}

section #main_content #container_links {
  margin-top: 2%;
  padding-right: 0%;
  padding-left: 0%;
  background-color: #CBD577;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section #main_content #container_links a {
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  margin-left: 13px;
  margin-right: 13px;
}

section #main_content #container_links a .container_img {
  width: 100%;
  border-radius: 5px;
}

section #main_content #container_links a .container_img img {
  width: 100%;
  border-radius: 5px;
}

section .btn_principal {
  padding: 1.5%;
  margin-top: 1%;
  background-color: #1D4C92;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

section .btn_principal:hover {
  color: #E1E2E4;
  transition: 0.2s;
}

section {
  width: 90%;
  background-color: #DBD9D9;
  margin-left: 5%;
  position: relative;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-star;
  align-items: center;
}

section #container_cat {
  width: 90%;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section #container_cat div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section #container_cat div a {
  margin: 10px;
}

section .informacion {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
}

section .informacion h3 {
  color: #1D4C92;
}

section .informacion p {
  color: #323F5B;
  font-size: 1.5rem;
}

section .informacion .titulo {
  color: #1D4C92;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

section .informacion .info {
  text-align: justify;
}

section .informacion .enlaces {
  color: #475162;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .informacion .enlaces a {
  color: #475162;
  font-size: 1.9rem;
}

section .informacion .enlaces a:hover {
  color: #1D4C92;
  font-weight: bold;
  transition: 0.5s;
}

section .categoria {
  width: 90%;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section .categoria .cabecera_cat {
  background-color: rgba(8, 37, 81, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
}

section .categoria .cabecera_cat img {
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

section .categoria .cabecera_cat .num_cat {
  background-color: #1D4C92;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

section .categoria .enlaces {
  color: #475162;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .categoria .enlaces a {
  color: #475162;
  font-size: 1.9rem;
}

section .categoria .enlaces a:hover {
  color: #1D4C92;
  font-weight: bold;
  transition: 0.5s;
}

section .categoria .enlaces #lista_resultado a {
  font-size: 1.4rem;
}

section .categoria .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: rgba(8, 37, 81, 0.1);
}

section .categoria .content #jugadores {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

section .categoria .content #jugadores .row {
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section .categoria .content #jugadores .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .categoria .content #jugadores .row div img {
  border-radius: 5px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 2%;
}

section .categoria .content #resultados1 {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

section .categoria .content #resultados1 .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2%;
}

section .categoria .content #resultados1 .row .container_partido {
  background-color: #294167;
  color: #FFFFFF;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section .categoria .content #resultados1 .row .container_partido .content_partido {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section .categoria .content #resultados1 .row .container_partido .content_partido .equipo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

section .categoria .content #resultados1 .row .container_partido .content_partido .marcador {
  font-size: 3.5rem;
  color: #294167;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section .categoria .content #resultados1 .row .container_partido .down_fecha {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .categoria .content #resultados1 .row .container_partido span {
  margin: 0% 2% 0% 2%;
}

section .categoria .content #resultados1 .row .btn_principal {
  padding: 0.5%;
  margin-top: 1%;
  background-color: #1D4C92;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

section .categoria .content #resultados1 .row .btn_principal:hover {
  color: #E1E2E4;
  transition: 0.2s;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
  .nombre_cat {
    font-size: 2.2rem;
  }
  .num_cat {
    height: auto;
    font-size: 3rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .nombre_cat {
    font-size: 3.2rem;
  }
  .num_cat {
    height: 100px;
    font-size: 5rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nombre_cat {
    font-size: 3.2rem;
  }
  .num_cat {
    height: 100px;
    font-size: 5rem;
  }
}

/* ===========================================
   General Styles
   =========================================== */
body {
  width: 100%;
}

#main_container {
  width: 100%;
}

#main_container #bg_header {
  width: 100%;
  position: absolute;
  z-index: 100;
}
