extends ../layouts/layout

block content
	section
		div(id="container_cat" , class="container")
			div(class="row")
				a(class="img_cat" , href="{{ruta_base}}copa/categoria/sub18/jugadores.html")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_1.png")
				a(class="img_cat" , href="")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_2.png")
				a(class="img_cat" , href="")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_3.png")

			div(class="row")
				a(class="img_cat" , href="")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_4.png")
				a(class="img_cat" , href="")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_5.png")
				a(class="img_cat" , href="")
					img(class="img-responsive" , src="{{ruta_base}}assets/img/categoria/cat_6.png")

		div(class="informacion" , class="container")
			div(class="info col-xs-12 col-sm-8")
				p La Primera División Copa De Oro - estará dividida en dos etapas y se jugará de la siguiente manera:

				h4(class="titulo") Primera Etapa
				p Los diez (10) clubes clasificados en la presente División de acuerdo a la tabla acumulada, jugarán todos contra todos en dos (2) ruedas de ida y vuelta, haciendo un total de dieciocho (18) fechas.

				h4(class="titulo") Segunda Etapa
				p Al término de la primera etapa (18 fechas) se formula la Tabla de Colocaciones Acumulada de todas las Categorías. Los seis (6) clubes que obtengan el mayor puntaje acumulado (posiciones del 1 al 6) jugarán una Liguilla de tres (3) ruedas, todos contra todos, con un total de quince (15) fechas. De esta Liguilla saldrá un ganador por cada categoría y un ganador por puntaje acumulado. Para este último efecto, los equipos mantendrán su puntaje individual y acumulado de ambas etapas. Los cuatro (4) clubes que obtengan el menor puntaje acumulado (posiciones del 7 al 10) jugarán la Copa de Oro B.

			div(class="enlaces col-xs-12 col-sm-4")
				div(class="divisor") - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
				a(href="{{ruta_base}}documentos/BASES_COPA_FEDERACION_2016.pdf" , target="_blank") Bases
				div(class="divisor") - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
				a(href="{{ruta_base}}documentos/FIXTURE_2016_ORO.pdf" , target="_blank") Fixture del torneo
				div(class="divisor") - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
				a(href="#") Liguilla
				div(class="divisor ") - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
				a(href="{{ruta_base}}documentos/TABLAS_ACUMULADAS.pdf" , target="_blank") Tabla Acumulada
				div(class="divisor") - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	