section
	div(id="main_content" , class="col-md-12")

		div(class="col-md-12")
			div(id="partidos" , class="col-xs-12 col-sm-7")
				a(class="container_partido col-xs-12 col-md-10" , href="")
					span Próximo partido
					div(class="content_partido")
					div(class="down_fecha")
						span Torneo Descentralizado
						span 07/07/16
				a(class="container_partido col-xs-12 col-md-10" , href="")
					span Ultimo partido
					div(class="content_partido")
					div(class="down_fecha")
						span Torneo Descentralizado
						span 07/07/16

			//Tabla Acumulada

			div(class="table-responsive col-xs-12 col-sm-5")
				table(class="table")
					h3 Tabla de Acumulados
					tr
						th
						th EQUIPO
						th PJ
						th DG
						th PTS
					tr
						td 1
						td ESTHER GRANDE DE BENTIN
						td 65
						td 79
						td 130
					tr
						td 2
						td SPORTING CRISTAL
						td 64
						td 73
						td 119
					tr
						td 3
						td UNIVERSITARIO DE DEPORTES
						td 65
						td 26
						td 117
					tr
						td 4
						td ALIANZA LIMA
						td 65
						td 32
						td 113
					tr
						td 5
						td UNIV. SAN MARTIN DE PORRES
						td 65
						td 24
						td 96
					tr
						td 6
						td UNIVERSIDAD CESAR VALLEJO
						td 65
						td 6
						td 94
					tr
						td 7
						td ACADEMIA CANTOLAO
						td 64
						td -1
						td 88
					tr
						td 8
						td GRUPO HECTOR CHUMPITAZ S.A.C.
						td 65
						td -45
						td 62
					tr
						td 9
						td DEPORTIVO MUNICIPAL
						td 65
						td -55
						td 58
					tr
						td 10
						td DEPORTIVO U DE AMERICA FC
						td 65
						td -139
						td 28

		//Multimedia

		div(id="row2" , class="col-md-12")
			div(id="container_multimedia" , class="col-md-6")
				div(class="row")
					h2 Galeria
				div(class="row")
					div(class="col-xs-6")
						img(src="{{ruta_base}}assets/img/categoria/fotos.png", alt="" , class="img-responsive")
					div(class="col-xs-6")
						img(src="{{ruta_base}}assets/img/categoria/videos.png", alt="" , class="img-responsive")
				div(class="row")
					a(class="col-md-3 col-md-offset-8" , href="") Ver mas

			div(id="container_links" , class="col-md-6")

				a(class="col-xs-6" , href="")
					div(class="container_img")
						img(src="{{ruta_base}}assets/img/principal/foto1.png", alt="" , class="img-responsive")

				a(class="col-xs-6" , href="")
					div(class="container_img")
						img(src="{{ruta_base}}assets/img/principal/foto2.png", alt="" , class="img-responsive")