footer {
	width: 100%;
	height: 150px;
	background-color: $bg_footer;
	@include flex (column , center , center);
	span {
		color: $color_text;
	}
	#contacto {
		width: 100%;
		//background-color: blue;
		margin-bottom: 18px;
		@include flex (column , center , center);
	}
	#copyright {
		width: 100%;
		//background-color: green;
		@include flex (column , center , center);
	}
}