section {
	width: 90%;
	//height: 700px;
	background-color: #DBD9D9;
	margin-left: 5%;
	padding-bottom: 2%;
	position: relative;
	z-index: 300;
	@include flex (column , null , null);
	#categoria {
		width: 100%;
		@include flex (column , flex-start , center);
		#container_cat{
			width: 90%;
			margin: 2%;
			border-radius: 5px;
			background-color: #FFFFFF;
			@include flex (column , null , center);
			div {
				width: 100%;
				@include flex (row, space-around , center);
				.img_cat{
					margin: 1%;
				}
			}
		}
		.informacion {
			width: 90%;
			padding: 2%;
			//background-color: #FFFFFF;
			@include flex (row , space-between , center);
			p {
				text-align: justify;
				color: $text_color;
				font-size: 1.5rem;
			}
			h3 {
				color: $color_h3;
			}
			.info {
				width: 60%;
			}
			.enlaces {
				width: 30%;
				//background-color: red;
				@include flex (column, space-around , center);
				a {
					font-size: 1.8rem;
					color: #373941;
				}
				a:hover {

				}
				.divisor {
					width: 100%;
					@include flex (column, center , center);
				}
			}
		}
	}
}