section {
	.categoria {
		width: 90%;
		background-color: #FFFFFF;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px;
		.cabecera_cat {
			background-color: rgba(8,37,81,0.8);
			@include flex(row, flex-start, center);
			color: #FFFFFF;
			img {
				//width: 30%;
				height: 100px;
				padding-left: 0px;
				padding-right: 0px;
			}
			.nombre_cat {
				//width: 50%;
				//@include flex(row, flex-start, center);
				//padding-left: 20px;
			}
			.num_cat {
				//width: 20%;
				background-color: #1D4C92;
				//padding-right: 20px;
				@include flex(row, flex-end, center);
			}
		}
		.enlaces {
			color: #475162;
			//background-color: #46A575;
			margin-top: 5%;
			margin-bottom: 5%;
			@include flex(column, null, center);
			a {
				color: #475162;
				font-size: 1.9rem;
			}
			a:hover {
				color: $color_h3;
				font-weight: bold;
				transition: 0.5s;
			}
		}
		.content {
			@include flex(column, flex-start, space-around);
			padding-top: 5%;

			background-color: #A03333;
			.row {
				padding-bottom: 5%;
				img {
					border-radius: 5px;
					width: 150px;
					height: 147px;
					padding-right: 0px;
					padding-left: 0px;
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
	.nombre_cat {
		font-size: 2.2rem;
	}
	.num_cat {
		height: auto;
		font-size: 3rem;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.nombre_cat {
		font-size: 3.2rem;
	}
	.num_cat {
		height: 100px;
		font-size: 5rem;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.nombre_cat {
		font-size: 3.2rem;
	}
	.num_cat {
		height: 100px;
		font-size: 5rem;
	}
}