section {
	.categoria {
		width: 90%;
		background-color: #FFFFFF;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px;
		.cabecera_cat {
			background-color: rgba(8,37,81,0.8);
			@include flex(row, flex-start, center);
			color: #FFFFFF;
			img {
				//width: 30%;
				height: 100px;
				padding-left: 0px;
				padding-right: 0px;
			}
			.nombre_cat {
				//width: 50%;
				//@include flex(row, flex-start, center);
				//padding-left: 20px;
			}
			.num_cat {
				//width: 20%;
				background-color: #1D4C92;
				//padding-right: 20px;
				@include flex(row, flex-end, center);
			}
		}
		.enlaces {
			color: #475162;
			//background-color: #46A575;
			margin-top: 5%;
			margin-bottom: 5%;
			@include flex(column, null, center);
			a {
				color: #475162;
				font-size: 1.9rem;
			}
			a:hover {
				color: $color_h3;
				font-weight: bold;
				transition: 0.5s;
			}
			#lista_resultado {
				a {
					font-size: 1.4rem;
				}
			}
		}
		.content {
			@include flex(column, flex-start, space-around);
			padding-top: 5%;
			padding-bottom: 3%;
			background-color: rgba(8,37,81,0.1);

			//jugadores 

			#jugadores {
				width: 100%;
				//background-color: #A4CE5A;
				padding-left: 5%;
				padding-right: 5%;
				.row {
					padding-bottom: 3%;
					@include flex(row, space-around, center);
					div {
						@include flex(column, center, center);
						img {
							border-radius: 5px;
							padding-right: 0px;
							padding-left: 0px;
							margin-bottom: 2%;
						}
					}	
				}
			}

			//resultados etapa 1

			#resultados1 {
				width: 100%;
				//background-color: #A4CE5A;
				padding-left: 5%;
				padding-right: 5%;
				.row {
					@include flex (column , flex-start , center);
					margin-bottom: 2%;
					.container_partido {
						//width: 80%;
						background-color: $box_partidos;
						color: #FFFFFF;
						border-radius: 5px;
						padding-left: 0px;
						padding-right: 0px;
						@include flex (column , flex-start , null);
						.content_partido {
							width: 100%;
							//height: 100px;
							background-color: #FFFFFF;
							@include flex (row , space-around , center);
							.equipo {
								@include flex (row , center , center);
								padding-top: 1%;
								padding-bottom: 1%;
							}
							.marcador {
								font-size: 3.5rem;
								color: $box_partidos;
								@include flex (row , center , center);
							}
						}
						.down_fecha {
							width: 100%;
							@include flex (row , space-between , center);
						}
						span {
							margin: 0% 2% 0% 2%;
						}
					}
					.btn_principal {
						padding: 0.5%;
						margin-top: 1%;
						background-color: #1D4C92;
						color: #FFFFFF;
						@include flex (row , center , center);
						border-radius: 3px;
					}
					.btn_principal:hover {
						color: #E1E2E4;
						transition: 0.2s;
					}
				}	
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
	.nombre_cat {
		font-size: 2.2rem;
	}
	.num_cat {
		height: auto;
		font-size: 3rem;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.nombre_cat {
		font-size: 3.2rem;
	}
	.num_cat {
		height: 100px;
		font-size: 5rem;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.nombre_cat {
		font-size: 3.2rem;
	}
	.num_cat {
		height: 100px;
		font-size: 5rem;
	}
}